html,body{
	height: 100%;
	font-family: 'Lato', sans-serif;
}
.full-height{
	height: 100%;
}
.lato{
	font-family: 'Lato', sans-serif;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.navbar {
    background-color: #F7F7F7 !important;
}

.navbar-brand:link, .navbar-brand:visited {
    color: #840000 !important;
}

.navbar-brand:hover, .navbar-brand:active {
    color: black !important;
}
.big {
  font-size: 35px;
}

.mediano {
	font-size: 20px; 
}

.panel-heading {
    background-color: #840000 !important;
    color: white !important;
}
