html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.full-height {
    height: 100%;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.navbar {
    background-color: #F7F7F7 !important;
}

.navbar-brand:link, .navbar-brand:visited {
    color: #8fc245 !important;
}

.navbar-brand:hover, .navbar-brand:active {
    color: black !important;
}

.big {
    font-size: 30px !important;
}

.mediano {
    font-size: 20px;
}

.panel-heading {
    background-color: #8fc245 !important;
    color: #313131 !important;
}

.jumbotron {
    background-color: #8fc245 !important;
    color: #313131 !important;
}

button {
  border:none;
  border-radius:8px;
  color:#fff;
  cursor:pointer;
  font-family:"Lucida Sans Unicode";
  font-size:14px;
  outline:0;
  padding:0 0 7px;
  position:relative;
  transition:all 100ms linear;
}
button span {
  border-radius:8px;
  display:block;
  padding:10px 20px;
}
button:active {
  padding:0;
  top:7px;
  transition-duration:50ms;
}

.green { 
    background:#587430;
    }
.green span { 
    background:#8fc245;
    }

.red { 
    background:#921515;
    }
.red span { 
    background:#c54848;
    }

.blue { 
    background:#154492;
    }
.blue span { 
    background:#4877c5;
    }

.pink { 
    background:#92156D;
    }
.pink span { 
    background:#c548a0;
    }

.yellow { 
    background:#A8AA04;
    }
.yellow span { 
    background:#DBDD37;
    }
.btn-search {
    background-color:#587430;
}
.btn-search span {
    border-radius:8px;
    display:block;
    padding:10px 100px;
    background:#8fc245;
}
